@model KDC.DL.Models.CD_Candidate

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
function printPageArea(areaID){
    var printContent = document.getElementById(areaID);
    var WinPrint = window.open('', '', 'width=900,height=650');
    WinPrint.document.write(printContent.innerHTML);
    WinPrint.document.close();
    WinPrint.focus();
    WinPrint.print();
    WinPrint.close();
}
    </script>

<div class="col-sm-12">
    <h3>XRAY Report</h3>
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">

                @using (Html.BeginForm())
                {
            @Html.AntiForgeryToken()
                    {
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Lab No.</label>
                    <input type="text" class="form-control" name="LabNo" id="LabNo"/>
                </div>
            </div>


            <div class="col-sm-2">
                <div class="form-group">
                    <label><span style="color:#fff">print</span></label>
                    <input type="submit" class="form-control btn btn-primary" name="" value="Search" />
                </div>
            </div>
                    }
                }
            <div class="col-sm-2">
                <div class="form-group">
                    <label><span style="color:#fff">print</span></label>
                    <a class="btn btn-success form-control" href="javascript:void(0);" onclick="printPageArea('printableArea')">Print</a>
                </div>
            </div>

            </div>

            <div id="printableArea">
                <div style="font-weight: Bold; font-size: 15px; font-family: sans-serif; width: 210mm; height: 297mm; background: url('http://kdc.com.dandelion.arvixe.com/images/xray.jpg'); background-size: cover;">
                    <div style="text-transform:Uppercase;margin-top: 152px;position: absolute;left: 653px;">00001</div>
                    <div style="text-transform: Uppercase;margin-top: 183px;position: absolute;left: 656px;">RV-1</div>
                    <div style="text-transform: Uppercase;margin-top: 227px;position: absolute;left: 338px;">@Model.CandidateName</div>
                    <div style="text-transform: Uppercase;margin-top: 254px;position: absolute;left: 554px;">@(((DateTime)Model.DOB_AD).ToString("yyyy/MM/dd"))</div>
                    <div style="text-transform: Uppercase;margin-top: 254px;position: absolute;left: 675px;">Male</div>

                    <div style="text-transform: Uppercase;margin-top: 284px;position: absolute;left: 95px;">1990/01/01</div>
                    <div style="text-transform: Uppercase;margin-top: 311px;position: absolute;left: 229px;">@Model.PassportNo</div>

                    <div class="text-uppercase" style="margin-top: 338px;position: absolute;left: 625px;">
                        <img width="100px" src="http://kdc.com.dandelion.arvixe.com/images/tick.png" style="width: 15px;">
                    </div>

                    <div class="text-uppercase" style="margin-top: 364px;position: absolute;left: 626px;">
                        <img width="100px" src="http://kdc.com.dandelion.arvixe.com/images/tick.png" style="width: 15px;">
                    </div>

                    <div class="text-uppercase" style="margin-top: 479px;position: absolute;TEXT-ALIGN: CENTER;LEFT: 400PX;">
                        QATAR
                    </div>
                    <div>
                        <svg id="barcode" style="margin-top: 450px; position: absolute; left: -4px;height:90px"></svg>
                        <script>
                            JsBarcode("#barcode", "201918577034");
                        </script>
                    </div>
                    <div class="text-uppercase" style="margin-top: 632px;position: absolute;left: 606px;">
                        <img src="http://kdc.com.dandelion.arvixe.com/images/lungs.JPG" style="width: 195px;">
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>



            <div class="row mt-10">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>From Lab No.</label>
                        <input type="text" class="form-control" name="" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>To Lab No.</label>
                        <input type="text" class="form-control" name="" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label><span style="color:#fff">print</span></label>
                        <input type="submit" class="form-control btn btn-primary" name="" value="Print" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
