<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
      <add name="Development" providerName="System.Data.SqlClient" connectionString="Data Source=dandelion.arvixe.com;Initial Catalog=ams_kdcdb;Persist Security Info=True;User ID=ams_kdcdb1;Password=ams_kdcdb1@019#"/>
    </connectionStrings>
    <appSettings>
      <add key="ConnectionStringToUse" value="Development"/>
    <add key="ImageUpload" value="http://kdc.com.dandelion.arvixe.com/Candidate/UploadImage/"/>
    <add key="ImageView" value="http://kdc.com.dandelion.arvixe.com/images/scanned/"/>
		<add key="ImageThumb" value="http://kdc.com.dandelion.arvixe.com/images/thumb/"/>
    </appSettings>
</configuration>
